     /* Reset default styles */
     * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      
      /* Body styles */
      body {
        
        font-family: Arial, sans-serif;
        line-height: 1.6;
      }
      
      /* Header styles */
      header {
        width: 100%;
        height: 80px;
        background:linear-gradient(135deg,rgb(96, 2, 96),rgb(212, 114, 130));
        color: #fff;
        padding: 20px;
        position:fixed;
        display: flex;
        justify-content: space-between;
      }
      
      header h1 {
        font-size: 32px;
        margin-bottom: 10px;
      }
      nav{
          margin-top: 15px;
          
      }
      
      nav ul {
        list-style-type: none;
      }
      
      nav ul li {
        display: inline;
        margin-right: 10px;
      }
      
      nav ul li a {
        color: #fff;
        text-decoration: none;
      }
      .sec{
        background-image: url(pexels-rafael-cosquiere-2041540.jpg);
        background-size: cover;
        height: 80px;
        width: 100%;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;

      }
      .sec1 {
        background-image: url(pexels-rafael-cosquiere-2041540.jpg);
        background-size: cover;
        height: 590px;
        width: 100%;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .sec1-d {
        width: 700px;
        height: 250px;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.631);
        text-align: center;
        margin-top: 70px;
      }
      
      .sec1-d h2 {
        font-size: 48px;
        margin-bottom: 20px;
        color: #ffffff;
      }
      
      .sec1-d p {
        font-size: 18px;
        color: #ffffff;
        margin-bottom: 30px;
      }
      .btn {
        display: inline-block;
        padding: 10px 20px;
        background-color:rgb(162, 84, 97);
        color: #fff;
        text-decoration: none;
        border-radius: 4px;
        margin: 10px;
      }
      .sec2
      {
        background: white;
          background-size: cover;
          height: 450px;
      width: 100%;
         padding: 40px;
         
      }    
      .grid
      {
        display: grid;
         grid-template-columns: repeat(3, 1fr);
        grid-gap: 5px;
      }
          footer {
        background-color: #333;
        color: #fff;
        padding: 20px;
        text-align: center;
      }
      .hed{
        display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          align-items: center;
          margin-top: 40px;
          margin-bottom: 20px;
      }
      .gir
      {
        width: 280px;
        margin: 20px; 
        display: flex;
      }
      .gir h3
      {
        font-size: 20px;
        margin-left: 20px;
      }
      .gir p
      {
        font-size: 10px;
        margin-left: 20px;
      }
      .gir img{
        width: 30px;
        height: 30px;
      }
      
      .gi
      {
        width: 280px;
        margin: 20px; 
        display: flex;
      }
      .gi h3
      {
        font-size: 20px;
        margin-left: 20px;
      }
      .gi p
      {
        font-size: 10px;
        margin-left: 20px;
      }
      .gi img{
        width: 120px;
        height: 90px;
      }
      .sec3
      {
        width: 100%;
        background: rgb(206, 238, 251);
          background-size: cover;
          height: 518px;
         padding:70px;
         
      }  
      .hed1{
        display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          align-items: center;
          margin-top: 0px;
          margin-bottom: 20px;
      }  
      .sec4
      {
        width: 100%;
        display: flex;
          background: rgb(255, 255, 255);
          background-size: cover;
          height: 300px;
          padding: 70px;
          flex-direction: column;
          flex-wrap: nowrap;
          align-content: space-around;
          justify-content: center;
          align-items: center;
      }
      .sec4 h3
      {
        font-size: 30px;
        margin-left: 20px;
      
      }
      .con
      {
        display: flex;
        justify-content: center;
      }
      fieldset{
        
        display: flex;
          justify-content: center;
          padding: 15px;
          width: 300px;
          height: 110px;
          border-radius: 10px;
          margin: 10px;
          background: #ade5f8;
          flex-wrap: wrap;
          align-items: center;
      }
      fieldset h4{
        margin-bottom: 5px;
      }
      fieldset p{
        width: 220PX;
        font-size: 15px;
        margin-bottom: 5px;
      }
